<div class="container-fluid mt-lg-5 mt-sm-3 mb-5">
    <!-- backbtn -->
    <div class="d-flex justify-content-center">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 d-flex justify-content-start mb-3 mt-3">
            <div class="h4">Time Sheets</div>
        </div>
    </div>
    <!-- form for submit -->
    <div class="d-flex justify-content-center mb-3">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 shadow  p-3"
             style="border-radius: 10px">
            <div class="d-flex justify-content-between">
                <select class="form-select ps-4 w-25 FetchDates">
                    @* load region here *@
                </select>
                <button class="btn btn-outline-primary" id="FinalizeTimeSheet"> Finalize TimeSheet</button>
            </div>
            <div class="LoadExistingTimeSheet">

                @* <span> No Content Found </span> *@

            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 shadow  p-3"
             style="border-radius: 10px">
            <div class="h3 mb-2">TimeSheet Reimbursement</div>
            <div class="LoadReimbursement">
                @* <span> No Content Found </span> *@
            </div>
        </div>
    </div>
</div>
<script src="~/js/ProviderScript/Invoicingscript.js"></script>