@* for day wise *@
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th width="20%">staff</th>
            <th scope="col">12A</th>
            <th scope="col">1A</th>
            <th scope="col">2A</th>
            <th scope="col">3A</th>
            <th scope="col">4A</th>
            <th scope="col">5A</th>
            <th scope="col">6A</th>
            <th scope="col">7A</th>
            <th scope="col">8A</th>
            <th scope="col">9A</th>
            <th scope="col">10A</th>
            <th scope="col">11A</th>
            <th scope="col">12P</th>
            <th scope="col">1P</th>
            <th scope="col">2P</th>
            <th scope="col">3P</th>
            <th scope="col">4P</th>
            <th scope="col">5P</th>
            <th scope="col">6P</th>
            <th scope="col">7P</th>
            <th scope="col">8P</th>
            <th scope="col">9P</th>
            <th scope="col">10P</th>
            <th scope="col">11P</th>
        </tr>
        <tr>
            <td width="20%">
                coverage
            </td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody class="tablebody">
        @* load cells threw js *@
    </tbody>
</table>
