
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th scope="col" width="14%">Monday</th>
            <th scope="col" width="14%">Tuesday</th>
            <th scope="col" width="14%">Wednesday</th>
            <th scope="col" width="14%">Thursday</th>
            <th scope="col" width="14%">Friday</th>
            <th scope="col" width="14%"> Satuday</th>
            <th scope="col" width="14%">Sunday</th>
        </tr>

    </thead>
    <tbody class="MonthTableBody">
    </tbody>
</table>
@* <script>
    $(document).ready(function () {

    });
</script>
 *@