@* for day wise *@
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th width="20%">staff</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Satuday</th>

        </tr>
        <tr>
            <td width="20%">
                coverage
            </td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody class="WeekTableBody">
        @* load cells threw js *@
    </tbody>
</table>

<script>
    $(document).ready(function () {

    });
</script>
