@model HalloDoc.DAL.ViewModals.Records.SearchEmailLogsRecords
<div class="container-fluid mt-lg-5 mt-sm-3 mb-5">
    <!-- backbtn -->
    <div class="d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-start mb-3 mt-3">
            <div class="h4">@ViewBag.CurrentLog</div>
        </div>
    </div>
    <!-- form for submit -->
    <div class="d-flex justify-content-center">
        <div class="col-12 shadow p-3"
             style="border-radius: 10px">
            <form id="EmailLogHistory">
                <div class=" row">
                    <div class="form-floating mb-4 col-sm-6 col-12 col-md-2">
                        <select asp-for="RoleId" class="form-select" id="LoadRequestType">
                            @if (Model.RoleData != null)
                            {
                                <option value="-1">Select Role</option>
                                @foreach (var item in Model.RoleData)
                                {
                                    <option value="@item.Roleid">@item.Name</option>
                                }
                            }
                        </select>
                        <label for="LoadRequestType">Select Role Type</label>
                    </div>

                    <div class="col-sm-6 col-12 col-md-2">
                        <div class="form-floating mb-4">
                            <input asp-for="Receiver" type="text" class="form-control" id="Receivername" placeholder="Receiver Name" />
                            <label for="Receivername">Receiver Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 col-md-2">
                        @if (ViewBag.CurrentLog == "Email Logs")
                        {
                            <div class="form-floating mb-4">
                                <input asp-for="Email" type="text" class="form-control" id="PatEmail" placeholder="Email" />
                                <label for="PatEmail">Email</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-4">
                                <input asp-for="mobile" type="text" class="form-control" id="PhoneNumber" placeholder="Phone Number" />
                                <label for="PhoneNumber">Phone Number </label>
                            </div>
                        }
                    </div>
                    <div class="col-sm-6 col-12 col-md-2">
                        <div class="form-floating mb-4">
                            <input asp-for="Created" type="date" class="form-control" id="Created" placeholder="Create Date" />
                            <label for="Created">Create Date </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 col-md-2">
                        <div class="form-floating mb-4">
                            <input asp-for="SentDate" type="date" class="form-control" id="sent" placeholder="Sent Date" />
                            <label for="sent">Sent Date</label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end gap-2">
                        <button class="btn btn-outline-primary" id="ClearHistorySearch">Clear</button>
                        <button class="btn btn-primary" id="submitHistorySearch" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            @* partialview *@
            <div id="EmailLogs">
            </div>
        </div>
    </div>
</div>
<script src="/js/Records/EmailLogScript.js"></script>

