@model HalloDoc.DAL.ViewModals.ResetPass;

@{
    ViewData["Title"] = "forget Password";
    Layout = "_Layout";
}
@section styles {
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css ">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
}

<div class="row TaskLine mb-3">
    <h1 class="h1">Reset Your Password</h1>
</div>

<div class="row">
    <form method="post" class="">
        <div class="form-floating mb-4 row  username">
            <input asp-for="email" type="text" class="form-control p-3" id="floatingInput" placeholder="user name" required>
            <label for="floatingInput">username</label>
        </div>
        <div class="mb-3 login">
            <button class="btn btn-primary p-3 w-100 resetpassword">Reset Password</button>
        </div>

        <div class="backtologinpholder mb-3 clearfix">
            <div class="loginback mb-2 clearfix">
                <a class="backhome" asp-controller="PatientSide" asp-action="LoginPage">
                    <img src="/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" alt="">Back To Login
                </a>
            </div>
        </div>
    </form>
</div>

@* //tag close in shared file *@