@model HalloDoc.DAL.ViewModals.ResetPass;

@{
    ViewData["Title"] = "reset password";
    Layout = "_LAYOUT";
}
@{
    var emailvalue = ViewBag.emailval;
}
@section styles {
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css ">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
}
<div id="logggg">
    <div class="row TaskLine mb-3">
        <h1 class="h1">Reset Password</h1>
    </div>
    <div class="row">
        <form method="post">
            <input asp-for="email" value="@emailvalue" hidden>
            <div class="form-floating mb-4 row  username">
                <input asp-for="password" type="password" class="form-control p-3" id="floatingInput1" placeholder="password">
                <label asp-for="password" for="floatingInput1">password</label>
                <span asp-validation-for="password" style="color:indianred"></span>
            </div>
            <div class="form-floating mb-4 row  password">
                <input asp-for="conpass" type="password" class="form-control p-3" id="floatingPassword2" placeholder="confirm password" required>
                <label asp-for="conpass" for="floatingPassword2">confirm password</label>
                <span asp-validation-for="conpass" style="color:indianred"></span>
            </div>

            <div class="mb-3 login ">
                <button class="btn btn-primary p-3 w-100  loginbtn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

@section scripts {

    <script src="~/js/PasswordEyeScript.js"></script>
    @{
        <partial name="_validationScriptsPartial" />
    }
    <script src="~/js/DisableBack.js"></script>
}



