@{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}
@{
    <link rel="stylesheet" href="/css/sidebarcss.css">
    <link rel="stylesheet" href="/build/css/intlTelInput.css">
    <style>
        .UploadBtn {
            background-color: #60cef3;
            color: white;
            padding: 0.5rem;
            font-family: sans-serif;
            border-radius: 0.3rem;
            cursor: pointer;
        }
    </style>
}
@model HalloDoc.DAL.ViewModals.AdminDashBoardActions.ProviderProfileViewModel

<partial name="~/Views/AdminPartials/PopUpPartials/ProviderDocument.cshtml" />

<div class="container-fluid mt-5 mb-5">
    <!-- backbtn -->
    <div class="d-flex justify-content-center">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 d-flex justify-content-between mb-3">

            <div class="h4">Create Physician Account</div>

            <button onclick="ProviderBack()" class="btn btn-outline-primary">
                <img src="/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
                back
            </button>
        </div>
    </div>
    <!-- form for submit -->
    <div class="d-flex justify-content-center">

        <div class="col-lg-8 col-md-8 col-sm-12 col-12 shadow min-vh-80 p-3"
             style="border-radius: 10px" id="AdminProfileForm">
            <h5>Account Information</h5>

            <form class="row mt-2" id="CreatePhysicianForm" enctype="multipart/form-data">
                <div class="col-6 col-md-4">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.aspnetuser.Username" type="text" class="form-control" id="PhysicianUserName" placeholder="User Name" />
                        <label for="PhysicianUserName">User Name</label>
                        <span asp-validation-for="ProviderFormData.aspnetuser.Username" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.aspnetuser.Passwordhash" class="form-control" id="PhysicianPassword" placeholder="Password" required />
                        <label for="PhysicianPassword">Password</label>
                        <span asp-validation-for="ProviderFormData.aspnetuser.Passwordhash" style="color:indianred"></span>

                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-floating mb-4">
                        <select class="form-select loadRole" id="PhysicianRole" asp-for="ProviderFormData.physician.Roleid" required>
                        </select>
                        @* <input asp-for="Role.Name" type="text" class="form-control" id="AdminRole" placeholder="Role" /> *@
                        <label for="PhysicianRole">Role</label>
                        <span asp-validation-for="ProviderFormData.physician.Roleid" style="color:indianred"></span>
                    </div>
                </div>

                <h5 class="mb-3">Physician Information</h5>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Firstname" type="text" class="form-control" id="AdminFirstName" placeholder="First Name" />
                        <label for="AdminFirstName">FirstName</label>
                        <span asp-validation-for="ProviderFormData.physician.Firstname" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Lastname" type="text" class="form-control" id="AdminLastName" placeholder="Last Name" />
                        <label for="AdminLastName">Last Name</label>
                        <span asp-validation-for="ProviderFormData.physician.Lastname" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Email" type="email" class="form-control" id="AdminMail" placeholder="Email" />
                        <label for="AdminMail">Email</label>
                        <span asp-validation-for="ProviderFormData.physician.Email" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Email" type="email" class="form-control" id="AdminConfirmMail" placeholder="Confirm Email" />
                        <label for="AdminConfirmMail">Confirm Email</label>
                        <span asp-validation-for="ProviderFormData.physician.Email" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    @*  <div class="col-2">
                    <partial name="/Views/CountryList/countryListDropDown.cshtml" />
                    </div> *@
                    <div class="form-floating mobilenumHolder mb-4">
                        @* <input asp-for="CountryCode" id="CountryCode" hidden/> *@
                        <input asp-for="ProviderFormData.physician.Mobile" type="tel" class="form-control mobileman  pt-3 pb-3" />
                        <span id="mobileAspValidation" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    @foreach (var item in ViewBag.Regions)
                    {
                        <input class="regioncheck" id="@item.Regionid" type="checkbox" value="@item.Regionid" />  <label class="form-check-label me-3" for="@item.Regionid">@item.Name </label>
                    }
                </div>
                <h5 class="mb-4">Mailing & Billing Information</h5>

                <div class="col-12 col-md-6">

                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Lattitude" id="Lattitude" hidden />
                        <input asp-for="ProviderFormData.physician.Longtitude" id="Longtitude" hidden />
                        <input asp-for="ProviderFormData.physician.Address1" type="text" class="form-control" id="AdminAddress1" placeholder="Address1" />
                        <label for="AdminAddress1">Address1</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Address2" type="text" class="form-control" id="AdminAddress2" placeholder="Address2" />
                        <label for="AdminAddress2">Address2</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.City" type="text" class="form-control" id="floatingInputcity" placeholder="City" />
                        <label for="floatingInputcity">City</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <select class="form-select FetchRegion" asp-for="ProviderFormData.physician.Regionid" id="floatingInputstate" required>
                        </select>

                        @* <input asp-for="Region.Name" type="text" class="form-control" id="floatingInputstate" placeholder="State"/> *@
                        <label for="floatingInputstate">State</label>
                        <span asp-validation-for="ProviderFormData.physician.Regionid" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Zip" type="number" class="form-control" id="floatingInputzip" placeholder="Zip Code" />
                        <label for="floatingInputzip">Zip Code</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group form-floating mobilenumHolder mb-4">
                        <input asp-for="ProviderFormData.physician.Altphone" type="tel" class="form-control mobileman2 W-100  pt-3 pb-3" />
                        <span id="mobileBusinesValidation" style="color:indianred"></span>
                    </div>
                </div>
                <h5 class="mb-4">Provider Profile</h5>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Businessname" type="text" class="form-control" id="BusinessName" placeholder="BusinessName" required />
                        <label for="BusinessName">BusinessName</label>
                        <span asp-validation-for="ProviderFormData.physician.Businessname" style="color:indianred"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="ProviderFormData.physician.Businesswebsite" type="text" class="form-control" id="Businesswebsite" placeholder="Businesswebsite" required />
                        <label for="Businesswebsite">Businesswebsite</label>
                        <span asp-validation-for="ProviderFormData.physician.Businesswebsite" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex mb-4">
                    <div class="col-12">
                        <input asp-for="ProviderFormData.ProviderPhoto" class="form-control form-control-lg" id="ProviderPhoto" type="file" onchange="PreviewImage()" required hidden/>
                        <label class="UploadBtn" for="ProviderPhoto">Upload Your Image</label>
                        <span asp-validation-for="ProviderFormData.ProviderPhoto" style="color:indianred"></span>
                    </div>
                    @* <button class="btn btn-primary col-4" onclick="callphotoupload()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                    </svg>
                    upload
                    </button> *@
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <img src="" alt="photo" id="loadphotohere" style="height: 150px; width: 300px;" hidden>
                </div>
                <div class="form-floating mb-4 col-12">
                    <textarea asp-for="ProviderFormData.physician.Adminnotes" class="form-control h-100" id="Adminnotes" rows="5"
                              placeholder="Admin Notes"></textarea>
                    <label for="Adminnotes" class=" text-wrap">Admin Notes</label>
                </div>
                <hr />
                <h5 class="mt-2 mb-3">Onboarding</h5>
                <table class="w-100 m-3">
                    <tbody class="gap-2">
                        <tr class="ICA mb-2">
                            <td>
                                <input class="" type="checkbox" id="ICAcheckbox">
                            </td>
                            <td>
                                <span class="">Indepedent Contractor Agreement</span>
                            </td>
                            <td>
                                <input asp-for="ProviderFormData.file1" type="file" id="actual-btn1" name="file1" hidden />
                                <!--our custom file upload button-->
                                <label class="UploadBtn" for="actual-btn1">Upload</label>
                            </td>
                        </tr>
                        <tr class="Background-check">
                            <td>
                                <input class="" type="checkbox" id="Background-checkbox">
                            </td>
                            <td>
                                <span class="">Background check</span>
                            </td>
                            <td>
                                <input asp-for="ProviderFormData.file2" type="file" id="actual-btn2" name="file2" hidden />
                                <!--our custom file upload button-->
                                <label class="UploadBtn" for="actual-btn2">Upload</label>
                            </td>

                        </tr>

                        <tr class="HIPAACompliance">
                            <td>
                                <input class="" type="checkbox" id="HIPAACompliancecheckbox">
                            </td>
                            <td>
                                <span class="">HIPAA Compliance</span>
                            </td>
                            <td>
                                <input asp-for="ProviderFormData.file3" type="file" id="actual-btn3" name="file3" hidden />
                                <!--our custom file upload button-->
                                <label class="UploadBtn" for="actual-btn3">Upload</label>
                            </td>
                        </tr>

                        <tr class="NDA">
                            <td>
                                <input class="" type="checkbox" id="NDAcheckbox">
                            </td>
                            <td>
                                <span class="">Non-disclosure Agreement</span>
                            </td>
                            <td>
                                <input asp-for="ProviderFormData.file4" type="file" id="actual-btn4" name="file4" hidden />
                                <!--our custom file upload button-->
                                <label class="UploadBtn" for="actual-btn4">Upload</label>
                            </td>
                        </tr>
                        <tr class="LicenseDocument">
                            <td>
                                <input class="" type="checkbox" id="LicenseDocumentcheckbox">
                            </td>
                            <td>
                                <span class="">License Document</span>
                            </td>
                            <td>
                                <input asp-for="ProviderFormData.file5" type="file" id="actual-btn5" name="file5" hidden />
                                <!--our custom file upload button-->
                                <label class="UploadBtn" for="actual-btn5">Upload</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" id="Create-Physician-Btn" class="btn btn-success">
                        Create Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@* <script src="/build/js/intlTelInput.js"></script> *@
<script src="~/js/AdminScripts/AdminDashBoardScripts/AdminProfileScript.js"></script>
<script src="~/js/AdminScripts/Provider/ProviderProfileScript.js"></script>
@{
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
