@{
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}

<partial name="~/Views/AdminPartials/PopUpPartials/_SendLinkPopUp.cshtml" />

<div class="row p-4 ">
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex flex-column Admin-side-cards active align-items-center" onclick="showsvg('NewRequests')" id="NewRequests">

        <div class="py-2 ps-2 w-100 card-new">
            <div class="d-flex">
                <svg height="24px" width="24px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                     fill="currentcolor">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                <style type="text/css">
                    .st0 {
                        fill: currentcolor;
                    }
                </style>
                <g>
                <path class="st0"
                      d="M13.175,203.061c0,0-0.004-0.013-0.007-0.026l-0.672-1.763L13.175,203.061z"></path>
                <path class="st0"
                      d="M17.239,163.415l11.178-7.3c0.006,0,0.012-0.007,0.019-0.014L17.239,163.415z">
                                </path>
                <path class="st0"
                      d="M480.364,260.466c-0.549-1.436-0.823-2.951-0.823-4.466c0-1.521,0.274-3.042,0.826-4.492l16.869-44.275 l1.586-4.172c1.74-4.564,2.582-9.324,2.582-14.006c0.006-12.986-6.458-25.516-17.835-32.953l-5.599-3.656l-37.84-24.708 c-2.569-1.684-4.447-4.276-5.25-7.247l-13.548-50.047c-4.675-17.23-20.28-29.075-37.978-29.075c-0.669,0-1.335,0.013-2.004,0.052 L329.766,44v-0.006l-0.774,0.02c-2.896,0-5.687-0.98-7.933-2.788l-37.766-30.42l-2.598-2.089 C273.507,2.912,264.725-0.006,256.002,0c-8.72-0.013-17.504,2.912-24.697,8.717l0.01-0.007L195.11,37.87l-4.159,3.35 c-2.256,1.815-5.057,2.795-7.94,2.795L182.338,44l-51.555-2.572l-0.033-0.007c-0.8-0.046-1.502-0.052-2.102-0.052 c-17.701,0-33.303,11.844-37.978,29.075l-13.549,50.047c-0.806,2.983-2.693,5.582-5.278,7.273l-3.732,2.436l-39.694,25.915 c-11.371,7.444-17.828,19.966-17.822,32.946c0,4.675,0.839,9.415,2.573,13.973l18.465,48.473l0.003,0.006 c0.548,1.437,0.826,2.965,0.826,4.486c0,1.522-0.274,3.043-0.826,4.48l-18.461,48.46l0.003-0.006 c-1.74,4.564-2.583,9.318-2.583,13.999c-0.006,12.987,6.451,25.523,17.838,32.966l32.218,21.038l11.201,7.313 c2.583,1.684,4.463,4.27,5.269,7.26l13.549,50.041c4.671,17.23,20.28,29.075,37.978,29.081c0.6-0.006,1.254-0.013,1.952-0.052 l-1.482,0.078l53.439-2.67h-0.026l0.5-0.007c2.866,0,5.658,0.98,7.91,2.795l40.371,32.522h0.003 c7.185,5.792,15.964,8.71,24.687,8.704c8.72,0.007,17.502-2.912,24.691-8.71l43.841-35.318l-3.467,2.795 c2.253-1.815,5.038-2.788,7.907-2.788l0.6,0.013l52.189,2.605l-0.262-0.012c0.568,0.026,1.186,0.039,1.855,0.045 c17.691-0.006,33.306-11.844,37.978-29.081l13.548-50.041c0.806-2.99,2.684-5.569,5.262-7.254l43.45-28.37 c11.364-7.444,17.818-19.966,17.812-32.947c0-4.682-0.842-9.442-2.586-14.012L480.364,260.466z M455.38,241.988 c-1.72,4.512-2.582,9.265-2.582,14.012c0,4.754,0.862,9.507,2.582,14.019l18.449,48.44l0.003,0.007 c0.565,1.482,0.829,2.984,0.829,4.473c-0.007,4.166-2.063,8.188-5.716,10.571l-43.41,28.344h0.003 c-8.086,5.275-13.95,13.346-16.474,22.67l-13.548,50.04c-1.485,5.524-6.513,9.324-12.16,9.317l-0.751-0.02l-0.189-0.006 l-51.474-2.566h0.036c-0.634-0.039-1.303-0.052-2.004-0.059c-8.968,0-17.685,3.069-24.694,8.717l-3.47,2.801l-36.897,29.721 c-2.324,1.874-5.086,2.788-7.91,2.788c-2.82,0-5.586-0.914-7.913-2.788l-40.368-32.522c-7.006-5.641-15.719-8.71-24.69-8.71 c-0.601,0-1.303,0.007-2.106,0.052v0.007l-51.64,2.579l0.016-0.006l-0.652,0.013c-5.642,0.006-10.676-3.794-12.161-9.317 l-13.548-50.04c-2.524-9.324-8.387-17.394-16.474-22.67l-32.212-21.031l-11.194-7.313c-3.65-2.377-5.713-6.405-5.72-10.578 c0.003-1.496,0.265-2.997,0.826-4.466l18.461-48.454l-0.003,0.007c1.72-4.518,2.582-9.265,2.582-14.019 c0-4.753-0.858-9.506-2.582-14.018L38.848,195.33l-0.679-1.776c-0.565-1.489-0.826-2.997-0.83-4.492 c0.007-4.172,2.067-8.188,5.716-10.564l43.414-28.343l0.007-0.007c8.082-5.288,13.94-13.352,16.464-22.67l13.548-50.047 c1.482-5.517,6.523-9.324,12.161-9.317l0.503,0.006l51.91,2.592l0.056,0.007c0.63,0.026,1.264,0.04,1.894,0.046 c8.968,0,17.688-3.063,24.701-8.704l40.386-32.529c2.321-1.874,5.08-2.782,7.904-2.788c2.821,0,5.583,0.914,7.907,2.788 l-2.602-2.096l42.979,34.618c7.022,5.654,15.752,8.704,24.707,8.704c0.666,0,1.263-0.02,1.792-0.033h-0.14l52.075-2.599h0.035 l0.601-0.013c5.641-0.007,10.678,3.8,12.16,9.317l13.548,50.047c2.524,9.317,8.38,17.381,16.464,22.67l49.018,32.006l-5.602-3.656 c3.653,2.377,5.71,6.392,5.716,10.558c0,1.496-0.264,2.998-0.832,4.492l-20.832,54.683L455.38,241.988z">
                                </path>
                <path class="st0"
                      d="M196.151,226.298l-13.784,2.709c-0.725,0.15-1.123,0.725-0.979,1.463l10.254,52.175l-0.597,0.124 l-39.528-46.423c-0.653-0.757-1.45-0.986-2.305-0.816l-14.636,2.88c-0.725,0.144-1.123,0.718-0.966,1.455l15.817,80.448 c0.14,0.738,0.725,1.136,1.45,0.992l13.783-2.71c0.725-0.15,1.123-0.731,0.983-1.469l-10.242-52.051l0.61-0.118l39.613,46.28 c0.653,0.757,1.338,0.999,2.318,0.816l14.509-2.86c0.724-0.144,1.122-0.725,0.966-1.463l-15.814-80.454 C197.46,226.54,196.876,226.155,196.151,226.298z">
                                </path>
                <path class="st0"
                      d="M280.868,279.649l-35.731,7.026c-0.483,0.105-0.78-0.091-0.865-0.581l-3.385-17.192 c-0.102-0.483,0.098-0.77,0.581-0.874l29.757-5.85c0.725-0.144,1.123-0.719,0.983-1.449l-2.546-12.922 c-0.144-0.724-0.728-1.123-1.453-0.986l-29.754,5.857c-0.484,0.091-0.784-0.111-0.881-0.594l-3.232-16.454 c-0.098-0.49,0.101-0.784,0.584-0.875l35.731-7.026c0.725-0.144,1.123-0.725,0.966-1.456l-2.56-13.038 c-0.144-0.738-0.725-1.13-1.453-0.986l-53.152,10.454c-0.741,0.144-1.126,0.725-0.982,1.462l15.817,80.454 c0.156,0.732,0.724,1.123,1.465,0.98l53.152-10.454c0.728-0.144,1.126-0.725,0.97-1.456l-2.563-13.046 C282.178,279.91,281.593,279.506,280.868,279.649z">
                                </path>
                <path class="st0"
                      d="M377.221,190.694l-15.605,3.068c-0.852,0.164-1.266,0.634-1.224,1.515l-1.221,54.291l-0.258,0.046 l-24.847-49.16c-0.398-0.699-0.983-1.084-1.708-0.94l-10.61,2.083c-0.839,0.17-1.237,0.744-1.338,1.541l-3.911,54.82l-0.242,0.052 l-22.19-49.701c-0.255-0.718-0.839-1.096-1.691-0.927l-15.732,3.082c-0.852,0.17-0.996,0.706-0.725,1.417l37.266,76.23 c0.398,0.685,0.98,1.084,1.708,0.94l12.19-2.403c0.852-0.163,1.25-0.751,1.348-1.528l4.368-54.415l0.242-0.045l24.521,48.728 c0.385,0.685,0.97,1.084,1.822,0.914l12.19-2.403c0.852-0.157,1.365-0.77,1.352-1.535l5.504-84.645 C378.4,190.955,378.073,190.524,377.221,190.694z">
                                </path>
                            </g>
                        </g>
                    </svg>
                <span class="ms-2 text-uppercase">new</span>
            </div>
            <span class="fw-bold">@Model.NewRequest</span>
        </div>
        <svg class="svg" id="onesvg" fill="#203f9a" height="10px" width="20px" viewBox="0 0 200 100">
            <polygon points="0,0 100,100 200,0 " />
        </svg>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex flex-column mb-2 Admin-side-cards align-items-center" onclick="showsvg('PendingRequests')" id="PendingRequests">
        <div class="py-2 ps-2 w-100 card-pending">
            <div class="d-flex">
                <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 64 64"
                     enable-background="new 0 0 64 64" xml:space="preserve" fill="currentcolor">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                <g>
                <path fill="currentcolor"
                      d="M62.242,47.758l0.014-0.014c-5.847-4.753-12.84-8.137-20.491-9.722C44.374,35.479,46,31.932,46,28 c1.657,0,3-1.343,3-3v-2c0-0.886-0.391-1.673-1-2.222V12c0-6.627-5.373-12-12-12h-8c-6.627,0-12,5.373-12,12v8.778 c-0.609,0.549-1,1.336-1,2.222v2c0,1.657,1.343,3,3,3c0,3.932,1.626,7.479,4.236,10.022c-7.652,1.586-14.646,4.969-20.492,9.722 l0.014,0.014C0.672,48.844,0,50.344,0,52v8c0,2.211,1.789,4,4,4h56c2.211,0,4-1.789,4-4v-8C64,50.344,63.328,48.844,62.242,47.758z M20,28v-1c0-0.553-0.447-1-1-1h-1c-0.553,0-1-0.447-1-1v-2c0-0.553,0.447-1,1-1h1c0.553,0,1-0.447,1-1v-1v-1c0-2.209,1.791-4,4-4 c2.088,0,3.926-1.068,5-2.687C30.074,13.932,31.912,15,34,15h6c2.209,0,4,1.791,4,4v1v1c0,0.553,0.447,1,1,1h1c0.553,0,1,0.447,1,1 v2c0,0.553-0.447,1-1,1h-1c-0.553,0-1,0.447-1,1v1c0,6.627-5.373,12-12,12S20,34.627,20,28z M24.285,39.678 C26.498,41.143,29.147,42,32,42s5.502-0.857,7.715-2.322c1.66,0.281,3.297,0.63,4.892,1.084C41.355,43.983,36.911,46,31.973,46 c-4.932,0-9.371-2.011-12.621-5.226C20.96,40.315,22.61,39.961,24.285,39.678z">
                                </path>
                <path fill="currentcolor"
                      d="M24.537,21.862c0.475,0.255,1.073,0.068,1.345-0.396C25.91,21.419,26.18,21,26.998,21 c0.808,0,1.096,0.436,1.111,0.458C28.287,21.803,28.637,22,28.999,22c0.154,0,0.311-0.035,0.457-0.111 c0.491-0.253,0.684-0.856,0.431-1.347C29.592,19.969,28.651,19,26.998,19c-1.691,0-2.618,0.983-2.9,1.564 C23.864,21.047,24.063,21.609,24.537,21.862z">
                                </path>
                <path fill="currentcolor"
                      d="M34.539,21.862c0.475,0.255,1.073,0.068,1.345-0.396C35.912,21.419,36.182,21,37,21 c0.808,0,1.096,0.436,1.111,0.458C38.289,21.803,38.639,22,39.001,22c0.154,0,0.311-0.035,0.457-0.111 c0.491-0.253,0.684-0.856,0.431-1.347C39.594,19.969,38.653,19,37,19c-1.691,0-2.618,0.983-2.9,1.564 C33.866,21.047,34.065,21.609,34.539,21.862z">
                                </path>
                            </g>
                        </g>
                    </svg>

                <span class="ms-2 text-uppercase">pending</span>
            </div>
            <span class="fw-bold">@Model.PendingRequest</span>
        </div>
        <svg class="svg" id="twosvg" fill="#00adef" height="10px" width="20px" viewBox="0 0 200 100">
            <polygon points="0,0 100,100 200,0 " />
        </svg>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex mb-2 flex-column Admin-side-cards align-items-center" onclick="showsvg('ActiveRequests')" id="ActiveRequests">
        <div class="py-2 ps-2 w-100 card-active">
            <div class="d-flex">
                <svg width="24px" height="24px" viewBox="2 8 19 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M10.5 15.25C10.307 15.2353 10.1276 15.1455 9.99998 15L6.99998 12C6.93314 11.8601 6.91133 11.7029 6.93756 11.55C6.96379 11.3971 7.03676 11.2562 7.14643 11.1465C7.2561 11.0368 7.39707 10.9638 7.54993 10.9376C7.70279 10.9114 7.86003 10.9332 7.99998 11L10.47 13.47L19 5.00004C19.1399 4.9332 19.2972 4.91139 19.45 4.93762C19.6029 4.96385 19.7439 5.03682 19.8535 5.14649C19.9632 5.25616 20.0362 5.39713 20.0624 5.54999C20.0886 5.70286 20.0668 5.86009 20 6.00004L11 15C10.8724 15.1455 10.6929 15.2353 10.5 15.25Z"
                              fill="currentcolor"></path>
                        <path d="M12 21C10.3915 20.9974 8.813 20.5638 7.42891 19.7443C6.04481 18.9247 4.90566 17.7492 4.12999 16.34C3.54037 15.29 3.17596 14.1287 3.05999 12.93C2.87697 11.1721 3.2156 9.39921 4.03363 7.83249C4.85167 6.26578 6.1129 4.9746 7.65999 4.12003C8.71001 3.53041 9.87134 3.166 11.07 3.05003C12.2641 2.92157 13.4719 3.03725 14.62 3.39003C14.7224 3.4105 14.8195 3.45215 14.9049 3.51232C14.9903 3.57248 15.0622 3.64983 15.116 3.73941C15.1698 3.82898 15.2043 3.92881 15.2173 4.03249C15.2302 4.13616 15.2214 4.2414 15.1913 4.34146C15.1612 4.44152 15.1105 4.53419 15.0425 4.61352C14.9745 4.69286 14.8907 4.75712 14.7965 4.80217C14.7022 4.84723 14.5995 4.87209 14.4951 4.87516C14.3907 4.87824 14.2867 4.85946 14.19 4.82003C13.2186 4.52795 12.1987 4.43275 11.19 4.54003C10.193 4.64212 9.22694 4.94485 8.34999 5.43003C7.50512 5.89613 6.75813 6.52088 6.14999 7.27003C5.52385 8.03319 5.05628 8.91361 4.77467 9.85974C4.49307 10.8059 4.40308 11.7987 4.50999 12.78C4.61208 13.777 4.91482 14.7431 5.39999 15.62C5.86609 16.4649 6.49084 17.2119 7.23999 17.82C8.00315 18.4462 8.88357 18.9137 9.8297 19.1953C10.7758 19.4769 11.7686 19.5669 12.75 19.46C13.747 19.3579 14.713 19.0552 15.59 18.57C16.4349 18.1039 17.1818 17.4792 17.79 16.73C18.4161 15.9669 18.8837 15.0864 19.1653 14.1403C19.4469 13.1942 19.5369 12.2014 19.43 11.22C19.4201 11.1169 19.4307 11.0129 19.461 10.9139C19.4914 10.8149 19.5409 10.7228 19.6069 10.643C19.6728 10.5631 19.7538 10.497 19.8453 10.4485C19.9368 10.3999 20.0369 10.3699 20.14 10.36C20.2431 10.3502 20.3471 10.3607 20.4461 10.3911C20.5451 10.4214 20.6372 10.471 20.717 10.5369C20.7969 10.6028 20.863 10.6839 20.9115 10.7753C20.9601 10.8668 20.9901 10.9669 21 11.07C21.1821 12.829 20.842 14.6026 20.0221 16.1695C19.2022 17.7363 17.9389 19.0269 16.39 19.88C15.3288 20.4938 14.1495 20.8755 12.93 21C12.62 21 12.3 21 12 21Z"
                              fill="currentcolor"></path>
                    </g>
                </svg>

                <span class="ms-2 text-uppercase">active</span>
            </div>
            <span class="fw-bold">@Model.ActiveRequest</span>
        </div>

        <svg class="svg" id="threesvg" fill="#228c20" height="10px" width="20px" viewBox="0 0 200 100">
            <polygon points="0,0 100,100 200,0 " />
        </svg>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex mb-2 flex-column Admin-side-cards align-items-center" onclick="showsvg('ConcludeRequests')" id="ConcludeRequests">
        <div class="py-2 ps-2 w-100 card-conclude">
            <div class="d-flex">
                <svg fill="currentcolor" height="24px" width="24px" version="1.1" id="Layer_1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="-66.73 -66.73 526.00 526.00" xml:space="preserve" stroke="currentcolor"
                     stroke-width="15.701640000000001">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                <g>
                <g>
                <path d="M196.174,69.955c-69.689,0-126.319,56.695-126.319,126.319c0,69.689,56.695,126.319,126.319,126.319 s126.384-56.63,126.384-126.319S265.863,69.955,196.174,69.955z M196.174,300.808c-57.665,0-104.533-46.933-104.533-104.533 S138.574,91.741,196.174,91.741c57.6,0,104.533,46.869,104.533,104.533S253.838,300.808,196.174,300.808z">
                                    </path>
                                </g>
                            </g>
                <g>
                <g>
                <path d="M238.129,185.349h-31.095V124c0-6.012-4.849-10.925-10.925-10.925c-6.077,0-10.925,4.849-10.925,10.925v72.275 c0,6.012,4.849,10.925,10.925,10.925h41.956c6.012,0,10.925-4.848,10.925-10.925S244.141,185.349,238.129,185.349z">
                                    </path>
                                </g>
                            </g>
                <g>
                <g>
                <path d="M361.669,332.032h-23.725c33.81-35.232,54.562-83.071,54.562-135.758c0-108.024-86.432-195.297-194.457-196.267 C88.861-0.962,0.036,87.281,0.036,196.275c0,108.412,87.855,196.267,196.267,196.267c12.541,0,24.889-1.164,36.784-3.426 c6.529-1.228,10.537-7.822,8.598-14.158c-1.681-5.366-7.111-8.663-12.606-7.564c-9.826,1.875-19.976,2.909-30.384,3.038 c-97.293,1.293-176.291-76.477-176.485-173.77c-0.194-96.323,77.834-174.481,174.093-174.545 c96.776-0.065,174.675,78.093,174.222,174.933c-0.194,46.222-18.424,88.242-47.968,119.273v-23.402 c0-6.012-4.848-10.925-10.925-10.925s-10.925,4.849-10.925,10.925v49.972c0,6.012,4.848,10.925,10.925,10.925h49.972 c6.012,0,10.925-4.848,10.925-10.925C372.594,336.881,367.681,332.032,361.669,332.032z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>

                <span class="ms-2 text-uppercase">conclude</span>
            </div>
            <span class="fw-bold">@Model.ConcludeRequest</span>
        </div>
        <svg class="svg" id="foursvg" fill="#da0f82" height="10px" width="20px" viewBox="0 0 200 100">
            <polygon points="0,0 100,100 200,0 " />
        </svg>
    </div>

</div>
<div class="row px-4">
    <div class="d-sm-flex align-items-center justify-content-between  mb-2">
        <div class="d-flex align-items-center mb-2">
            <h6>Patients <span id="StatusPatient"></span> </h6>
            <span class="ms-1 fw-bold" style="color: #404a66; font-size: 12px;"></span>
        </div>

        <div class="d-flex align-items-center">

            <button type="submit" class="mx-1 px-2 py-1 btn btn-primary d-lg-flex" data-bs-toggle="modal" data-bs-target="#SendLink">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                </span>
                <span class="ms-1 text-white d-none d-md-block d-lg-block d-xl-block">Send Link</span>
            </button>

            <button id="ProviderRequest" type="submit" class="mx-1 px-2 py-1 btn btn-primary d-lg-flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-album" viewBox="0 0 16 16">
                    <path d="M5.5 4a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5zm1 7a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                </svg>
                <span class="ms-1 text-white d-none d-md-block d-lg-block d-xl-block">Create Request</span>
            </button>
        </div>
    </div>
</div>
<div class="mx-4  shadow " style="border-radius:15px">
    <div class="row">

        <div class="d-block d-lg-flex ps-3 mt-3  mb-3 align-items-center justify-content-between">

            <div class="d-md-flex gap-3 ms-2">
                <div class="ps-1 pt-1" style="position:absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                        </path>
                    </svg>
                </div>
                <div class="d-md-flex">
                    <input type="search" class="form-control ps-4" id="floatingInputsearch" placeholder="Search">
                </div>

                <div class="d-flex  normal-input rounded align-items-center">

                    <div class="ps-1 pt-1" style="position:absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                            <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                            </path>
                        </svg>
                    </div>
                    <select class="form-select ps-4 " id="RegionList">
                        @* <option value="-1" selected>All Regions</option> *@
                        @* ///use loop insted *@
                    </select>
                </div>

            </div>
            <div class="d-flex align-items-center">

                <button onclick="AllBtn()" class="active-filter filter-options d-md-flex align-items-center  px-2 py-1 rounded FilterBtn" id="AllBtn">
                    <span>All</span>
                </button>

                <button onclick="PatientDataFetch()" class="px-2 py-1 rounded d-md-flex align-items-center ms-2 FilterBtn" style="border:none;" id="PatientDataFetch">
                    <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="#198754" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                    </svg>
                    <span class="ms-2 d-none  d-md-block d-lg-block d-xl-block ">Patient</span>
                    <span class="ms-2 	d-block d-md-none" style="font-size:3vw">Patient</span>

                </button>

                <button onclick="FamilyDataFetch()" class=" px-2 py-1 rounded d-md-flex align-items-center ms-2 FilterBtn" style="border:none" id="FamilyDataFetch">
                    <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="#ed9124" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                    </svg>
                    <span class="ms-2 d-none  d-md-block d-lg-block d-xl-block ">Family</span>
                    <span class="ms-2 	d-block d-md-none" style="font-size:3vw">Family</span>
                </button>
                <button onclick="BusinessDataFetch()" class=" px-2 py-1 rounded d-md-flex align-items-center ms-2 FilterBtn" style="border:none" id="BusinessDataFetch">
                    <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="#e26277" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                    </svg>
                    <span class="ms-2 d-none  d-md-block d-lg-block d-xl-block ">Business</span>
                    <span class="ms-2 	d-block d-md-none" style="font-size:3vw">Business</span>
                </button>
                <button onclick="ConciergeDataFetch()" class=" px-2 py-1 rounded d-md-flex align-items-center ms-2 FilterBtn" style="border:none" id="ConciergeDataFetch">
                    <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="#00bafa" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                    </svg>
                    <span class="ms-2 d-none  d-md-block d-lg-block d-xl-block ">Concierge</span>
                    <span class="ms-2 	d-block d-md-none" style="font-size:3vw">Concierge</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-container">
        
    </div>
</div>
@* <script src="/build/js/intlTelInput.js"></script> *@

<script src="/js/ProviderScript/ProviderActionMenuScript.js"></script>
<script src="/js/ProviderScript/OrderAction.js"></script>
@* <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script> *@
@* <script src="/js/AdminScripts/AdminDashBoardScripts/ViewCaseBtnScript.js"></script>
<script src="/js/AdminScripts/AdminDashBoardScripts/ActionMenuScripts.js"></script>
<script src="/js/AdminScripts/AdminDashBoardScripts/OrderAction.js"></script>
 *@