@{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}
@model HalloDoc.DAL.ViewModals.CreatePatientRequestviewmodel;


<div class="container-fluid mt-5 mb-5">
    <!-- backbtn -->
    <div class="d-flex justify-content-center">
        <div class=" col-lg-8 col-md-8 col-sm-12 col-12 d-flex justify-content-between mb-3">
            <div class="h4">Patient Request</div>
            <button onclick="BackDoc()" class="btn btn-outline-primary">
                <img src="/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
                back
            </button>
        </div>
    </div>

    <!-- form for submit -->
    <div class="d-flex justify-content-center">
        <form method="post" class="createpatientrequestform col-lg-8 col-md-8 col-sm-12 col-12 shadow min-vh-80 p-3" enctype="multipart/form-data"
              style="border-radius: 10px">
            <h5>Patient Information</h5>
            <div class="form-floating mb-4 col-12">
                <textarea asp-for="Notes" class="form-control h-100" id="exampleFormControlTextarea1" rows="5"
                          placeholder="Enter Brief Details Of symptoms"></textarea>
                <label for="exampleFormControlTextarea1" class=" text-wrap">Enter Brief Details Of symptoms</label>
                <span asp-validation-for="Notes" style="color:indianred"></span>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="Firstname" type="text" class="form-control" id="floatingInput11" placeholder="First Name" />
                        <label for="floatingInput11">First Name</label>
                        <span asp-validation-for="Firstname" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="Lastname" type="text" class="form-control" id="floatingInput22" placeholder="Last Name" />
                        <label for="floatingInput22">Last Name</label>
                        <span asp-validation-for="Lastname" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="dateofbirth" type="date" class="form-control" id="floatingInput33" placeholder="Date" />
                        <label for="floatingInput33">Date</label>
                        <span asp-validation-for="dateofbirth" style="color:indianred"></span>
                    </div>
                </div>
            </div>

            <h5>Patient Contact Information</h5>
            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="Email" type="email" class="form-control" id="PatEmail" placeholder="Email" required />
                        <label for="PatEmail">Email</label>
                        <span asp-validation-for="Email" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group form-floating mobilenumHolder mb-4">
                        <input asp-for="CountryCode" id="CountryCode" hidden />
                        <input asp-for="Phonenumber" type="tel" class="form-control Patientmobile pt-3 pb-3" required />
                        <span id="mobilePatientValidation" style="color:indianred"></span>
                    </div>
                </div>
            </div>

            @*  <div class="row mt-2">
            <div class="col-12 col-md-6">
            <div id="Password" class="form-floating mb-4" style="display:none">
            <input asp-for="password" type="password" class="form-control" id="Passlabel" placeholder="Password" required />
            <label for="Passlabel">Password</label>
            <span asp-validation-for="password" style="color:indianred"></span>
            </div>
            </div>
            <div class="col-12 col-md-6">
            <div id="ConfirmPassword" class="form-floating mb-4" style="display:none">
            <input asp-for="Conpasword" type="password" class="form-control" id="Passlabe2" placeholder="confirm Password" required />
            <label for="Passlabe2">confirm Password</label>
            <span asp-validation-for="Conpasword" style="color:indianred"></span>
            </div>
            </div>
            </div> *@

            <h5>Patient Location</h5>
            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="Street" type="text" class="form-control" id="floatingInput2" placeholder="Street" />
                        <label for="floatingInput2">Street</label>
                        <span asp-validation-for="Street" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="City" type="text" class="form-control" id="floatingInput3" placeholder="City" />
                        <label for="floatingInput3">City</label>
                        <span asp-validation-for="City" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <select asp-for="regid" class="form-select" id="loadregion">
                            <option value="">Select State</option>
                            @foreach (var item in @ViewBag.region)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="regid" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input asp-for="Zipcode" type="number" class="form-control" id="floatingInput5" placeholder="Zip Code" />
                        <label for="floatingInput5">Zip Code</label>
                        <span asp-validation-for="Zipcode" style="color:indianred"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="floatingInput6"
                               placeholder="Room # Suite (Optional)" />
                        <label for="floatingInput6">Room # Suite (Optional)</label>
                    </div>
                </div>
            </div>

            <h5>(Optional) Upload Photo Or Document</h5>
            <div class="row mt-2 mb-4">
                <div class="col-12">
                    <input asp-for="uploadFile" class="form-control form-control-lg" id="formFileLg" type="file" />
                </div>
            </div>

            <div class="form-floating mb-4 col-12 parentAdminNotes">
                <textarea asp-for="AdminNotes" class="form-control h-100" id="AdminNotes" rows="5"
                          placeholder="Admin Notes"></textarea>
                <label for="AdminNotes" class=" text-wrap">Admin Notes</label>
            </div>
            <div class="form-floating mb-4 col-12 ParentPhysicianNotes" hidden>
                <textarea asp-for="PhysicianNotes" class="form-control h-100" id="PhysicianNotes" rows="5"
                          placeholder="Physician Notes"></textarea>
                <label for="PhysicianNotes" class="text-wrap">Physician Notes</label>
            </div>
            <div class="row mt-3">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary p-3 me-4" type="submit" id="SubmitRequest">Submit</button>
                    <button class="btn btn-outline-primary p-3">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var input1 = document.querySelector(".Patientmobile");

    var input1script = window.intlTelInput(input1, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        //initialCountry: "in"
    });
    $(".Patientmobile").on("keyup", function () {
        // console.log(input.isValidNumber());
        if (input1script.isValidNumber() == false) {
            $("#mobilePatientValidation").html("Phonenumber is not valid");
        }
        else {
            $("#mobilePatientValidation").html("");
        }
    });

    var controller = "AdminPartials";
    var accountType = "admin";
    var method = "AdminDashBoardMain";

    $("#SubmitRequest").click(function () {
        $("#CountryCode").val($(".iti__selected-dial-code").text());
    });
    if (localStorage.getItem("CurrentAccount") == "Provider") {
        $(".parentAdminNotes").attr("hidden", true);
        $(".ParentPhysicianNotes").attr("hidden", false);
        accountType = "Provider";
        controller = "ProviderAccount"
        method = "ProviderDashBoardMain"
    }
    $('.createpatientrequestform').on('submit', function (e) {
        e.preventDefault();
        var formData = new FormData($(this)[0]);
        $(".createpatientrequestform").validate();
        if ($(".createpatientrequestform").valid() == false || input1script.isValidNumber() == false) {
            return false;
        }
        $.ajax({
            url: '/' + controller + '/AdminPatientRequestPost',
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,

            success: function (response) {
                if (response) {
                    toastr.success("request submitted");
                } else {
                    toastr.error("something went wrong!");
                }
                $("." + accountType + "-data-container").load('/' + controller + '/' + method);
            }
        })
    })
</script>
@{
    <partial name="_validationScriptsPartial" />
}