
<div class="modal fade" id="ProvideDocument" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span id="loadImageHere">
                </span>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary m-2" data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
